<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_login.css' %}">
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <title>SIGN UP</title>
</head>
<body style="background-image:url('{% static 'images/background.jpg' %}')">
    <center>
        <h>CREATE &nbsp;ACCOUNT</h>
        <fieldset>
            <form method="post" action="/signUp" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="div-form">
                    <label id="name" for="name">NAME:<span style="color: red;">*</span></label>
                    <input type="text" name="name" required>
                </div>
                <div class="div-form">
                     <label id="email" for="email">EMAIL:<span style="color: red;">*</span></label>
                    <input type="email" name="email" required>
                </div>
                <div class="div-form">
                   <label id="username" for="username">USERNAME:<span style="color: red;">*</span></label>
                    <input type="text" name="username" required>
                </div>
                <div class="div-form">
                    <label id="password" for="password">PASSWORD:<span style="color: red;">*</span></label>
                    <input type="password" name="password" required>
                </div>
                <div class="div-form">
                    <label for="img">SELECT IMAGE:<span style="color: red;">*</span></label>
                    <input type="file" id="img" name="img" accept="image/*"  required>
                </div>
                <button id="submit" type="submit">SUBMIT</button>
                <button id="reset" type="reset">RESET</button>
            </form>
             <br><a href="{% url 'home' %}"><button id="home_btn">HOME</button></a>
            <!--VIDEO ELEMENT-->
        </fieldset>
        <video id="webcam" autoplay playsinline width="320" height="240"></video>

    </center>
<marquee style="color:aliceblue">Note: Provide image with single face only for signup. Developed By: SHIVANSH AGGARWAL</marquee>

</body>
</html>
<script>
    function capture_face()
    {
        const webcamElement = document.getElementById('webcam');
        const webcam = new Webcam(webcamElement, 'user');
        webcam.start();
    }
</script>